# Broker configuration information
mqtt_address = "mqtt.sample.com"
mqtt_port = 16491
mqtt_keepalive = 60
mqtt_protocol = "MQTTv311" # or MQTTv31
mqtt_username = "Sip2Mqtt"
mqtt_password = "SaMplE"
status_topic = "home/sip"

# Sip configuration information
trans_conf_port = 5060
trans_conf_bound_addr = ""
sip_domain = "sip.sample.com"
sip_username = "sample"
sip_password = "SaMplE"
sip_display = "Sample"
